<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
<link rel="stylesheet" href="{{ "fonts/icomoon/style.css" | absURL}}">

<link rel="stylesheet" href="{{ "css/bootstrap.min.css" | absURL}}">
<link rel="stylesheet" href="{{ "css/jquery-ui.css" | absURL}}">
<link rel="stylesheet" href="{{ "css/owl.carousel.min.css" | absURL}}">
<link rel="stylesheet" href="{{ "css/owl.theme.default.min.css" | absURL}}">
<link rel="stylesheet" href="{{ "css/owl.theme.default.min.css" | absURL}}">

<link rel="stylesheet" href="{{ "css/jquery.fancybox.min.css" | absURL}}">

<link rel="stylesheet" href="{{ "css/bootstrap-datepicker.css" | absURL}}">

<link rel="stylesheet" href="{{ "fonts/flaticon/font/flaticon.css" | absURL}}">
{{ range .Site.Params.customCSS }}
<link rel="stylesheet" href="{{ . | absURL }}" /> {{ end }}
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/default.min.css">