<div class="feature-big" id="feature-section">
  <div class="container">
    <div class="row mb-5 site-section d-flex align-items-center border-bottom">
      <!-- border-bottom  -->
      <div class="col-lg-5 offset-2 text-center">
        <img src="{{ "images/sbc.png" | absURL }}" alt="Image" class="img-fluid" style="max-width: 55%">
        <img src="{{ "images/sbc-stack.png" | absURL }}" alt="Image" class="img-fluid" style="max-width: 65%">
      </div>
      <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
        <h2 class="text-black">Share your building plans</h2>
        <p class="mb-4">Upload and share your building plans for smart solutions of clustering concepts.
          Whether it is a cluster of e.g. <em>Intel NUC</em> barebone computers, single-board computers like
          <em>Raspberry Pis</em> or other beowulf concepts.
          The building plans should challenge the status-quo while following some basic conceptual quality factors, such
          as</p>
        <ul class="ul-check mb-3 list-unstyled success">
          <li>reproducibility</li>
          <li>understandability</li>
          <li>maintainability</li>
          <li>extendibility</li>
        </ul>
        <p class="mb-4">Uploaded concepts will be shared on a dedicated sub-section of this page (which is currently in
          the making).</p>
        <div class="text-center">
          <a href="shared-resources/building-plans/index.html" class="btn btn-primary mx-auto mb-4">Get Started</a>
        </div>
        <div class="author-box">
          <!-- <div class="d-flex mb-4">
                <div class="mr-3">
                  <img src="images/person_1.jpg" alt="Image" class="img-fluid rounded-circle">
                </div>
                <div class="mr-auto text-black">
                  <strong class="font-weight-bold mb-0">Amalia G.</strong> <br>
                  Co-Founder, XYZ Inc.
                </div>
              </div> -->
          <blockquote>
            &ldquo;Enabling people – or even institutions – with tight budgets to create self-governed compute solutions
            can be a big plus.
            Just think of the educational benefits for children and especially those potential talents in less
            privileged parts of the world.&rdquo;
          </blockquote>
        </div>
      </div>
    </div>

    <div class="mt-5 row mb-5 site-section d-flex align-items-center">
      <div class="d-md-none d-block col-lg-5 order-1 order-lg-2 text-center">
        <img src="{{ "images/dashboard.png" | absURL }}" alt="Image" class="img-fluid" style="max-width: 50%">
      </div>
      <div class="d-none d-lg-none d-md-block col-lg-5 order-1 order-lg-2 text-center">
        <img src="{{ "images/dashboard.png" | absURL }}" alt="Image" class="img-fluid" style="max-width: 35%">
      </div>
      <div class="d-none d-lg-block col-lg-5 order-1 order-lg-2">
        <img src="{{ "images/dashboard.png" | absURL }}" alt="Image" class="img-fluid" style="max-width: 65%">
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-5 pr-lg-5 mr-auto mt-5 order-2 order-lg-1">
        <h2 class="text-black">Share your provisioning source code</h2>
        <p class="mb-4">Upload, share and demonstrate your provisioning tools and scripts to the world.
          Be it a smart layout of an <b><a href="https://www.ansible.com/">Ansible project</a></b> to provision your
          cluster with <b><a href="https://kubernetes.io/">Kubernetes</a></b>, <b><a
              href="https://www.okd.io/">OpenShift</a></b>, <b><a href="https://docs.docker.com/engine/swarm/">Docker
              Swarm</a></b> or a distributed Filesystem, such as <b><a
              href="https://www.gluster.org/">GlusterFS</a></b>, or a completely different approach.
          Shared projects should be well documented and the source code should follow some basic quality factors, such
          as
        </p>
        <ul class="ul-check mb-3 list-unstyled success">
          <li>portability & reproducibility</li>
          <li>understandability</li>
          <li>maintainability</li>
          <li>extendibility</li>
        </ul>
        <p class="mb-4">Uploaded concepts will be shared on a dedicated sub-section of this page (which is currently in
          the making).</p>
        <div class="text-center">
          <a href="shared-resources/source-code/index.html" class="btn btn-primary mx-auto mb-4">Get Started</a>
        </div>
        <div class="author-box">
          <!-- <div class="d-flex mb-4">
                <div class="mr-3">
                  <img src="images/person_4.jpg" alt="Image" class="img-fluid rounded-circle">
                </div>
                <div class="mr-auto text-black">
                  <strong class="font-weight-bold mb-0">Darren K.</strong> <br>
                  Co-Founder, XYZ Inc.
                </div>
              </div> -->
          <blockquote>
            &ldquo;Ownership of a compute cluster is an asset.
            It is a matter of education, privacy, control and budgets.
            Startups and researchers can now host their business- and research-secrets on their self-hosted
            infrastructure.&rdquo;
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>